<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>德德后台管理系统</title>
  <link rel="stylesheet" href="/assets/layui/css/layui.css">
</head>

<body>
  <!-- query - get
  body - post
  param - 路由参数 -->
  <div class="layui-layout layui-layout-admin">
    <!-- 共享头部 -->
    {{include "./share/shareHead.html"}}

    <!-- 共享左部 -->
    {{include "./share/shareBody.html"}}

    <div class="layui-body">
      <!-- 内容主体区域 -->
      <h4 style="padding: 15px;" id="last_login_date"></h4>
      <div style="padding: 15px;display:flex">
        <div id="cate" style="width: 600px;height:400px;"></div>
        <div id="art" style="width: 600px;height:400px;"></div>
      </div>
    </div>

    <div class="layui-footer">
      <!-- 底部固定区域 -->
      底部固定区域
    </div>
  </div>
  <script src="/assets/layui/layui.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
  <script src="/assets/js/echarts.min.js"></script>

  <script>
    //JS 
    layui.use(['element', 'layer', 'util'], async function () {
      var element = layui.element,
        layer = layui.layer,
        util = layui.util,
        $ = layui.$;
      //头部事件
      util.event('lay-header-event', {
        //左侧菜单事件
        menuLeft: function (othis) {
          layer.msg('展开左侧菜单的操作111', {
            icon: 0
          });
        },
        menuRight: function () {
          layer.open({
            type: 1,
            content: '<div style="padding: 15px;">处理右侧面板的操作234</div>',
            area: ['260px', '100%'],
            offset: 'rt' //右上角
              ,
            anim: 5,
            shadeClose: true
          });
        }
      });
    });
  </script>

  <!-- 数据可视化 -->
  <script>
    // 获取分类统计的数据
    $.get('/cateCount').then((res) => {
      // console.log('res', res);
      // 成功只有再去渲染图表
      // 初始化图表
      let names = []; // 保存分类名称
      let totals = []; // 保存文章分类的总文章数
      res.map(v => {
        console.log(v);
        if (!v.text) {
          v.text = '未分类'
        }
        names.push(v.text);
        totals.push(v.total)
      })
      let dom = document.getElementById("cate")
      let text = '分类文章统计'
      initEchart(dom, names, totals, text, 'bar');
    })
    // 获取每月文章统计的数据
    $.get('/artCount', (res) => {
      // 成功只有再去渲染图表
      // 初始化图表
      let months = []; // 保存分类名称
      let totals = []; // 保存文章分类的总文章数
      res.map(v => {
        months.push(v.month + '月');
        totals.push(v.total)
      })
      let dom = document.getElementById("art")
      let text = '每月文章统计'
      initEchart(dom, months, totals, text, 'line');
    })
    // 加载图表   只有数据回来之后才能获取  所以要封装 在调用
    function initEchart(dom, names, total, text, type) {
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(dom);
      // 指定图表的配置项和数据
      var option = {
        title: {
          text: text,
          subtext: "文章数", // 单位
          textStyle: {
            color: '#333' //主标题颜色
          }
        },
        color: "#d9ebf9",
        // 提示框组件
        tooltip: {
          show: true,
          axisPointer: {
            type: 'cross'
          }
        },
        // 图例组件
        legend: {
          data: ['销量123123']
        },
        xAxis: {
          data: names
        },
        yAxis: {},
        series: [{
          name: '文章篇数',
          type: type, // bar-柱状 line-折现 pie-饼状
          data: total,
          label: {
            show: true,
            fontSize: 16,
            showBackground: true,
            backgroundStyle: {
              color: 'rgba(180, 180, 180, 0.2)'
            }
          }
        }]
      };
      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    }
  </script>
</body>

</html>