<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/layui/css/layui.css">
    <link rel="stylesheet" href="/assets/css/login.css">
</head>

<body>
    <div class="login">
        <h1>小猪博客管理系统</h1>
        <form method="post" id="entry">
            <input type="text" name="username" placeholder="Username" id="username" />
            <input type="password" name="password" placeholder="Password" id="password" />
            <button type="submit" id="loginBtn" class="btn btn-primary btn-block btn-large">Login In</button>
        </form>
    </div>
</body>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/layui/layui.js"></script>
<script>
    $("#loginBtn").on('click', () => {
        // 获取表单项所有数据
        const data = $("#entry").serialize()
        console.log(data);
        // 一个一个获取
        // let username = $("input[name='username']").val()
        // let password = $("input[name='password']").val()
        $.ajax({
            type: 'post',
            url: 'http://127.0.0.1:3000/join',
            data
        }).then(res => {
            console.log('res', res);
            const {
                code,
                message
            } = res
            if (code == 0) {
                layer.msg('登录成功', {
                    icon: 1
                })
                setTimeout(() => {
                    location.href = '/'
                }, 500)
            } else {
                layer.msg('账号密码输入错误', {
                    icon: 2
                })
            }
        })
        return false;
    })
</script>

</html>